$navbar-top-bg: #222;
$navbar-primary-bg: darken($navbar-top-bg, 3%);
$navbar-top-height: 40px;

.navbar {
  border: none;
  margin-bottom: 0;

  a:hover {
    text-decoration: none;
    color: #fff;
  }

  .side {
    @extend .col-xs-2;
    @include vertical-align;
    height: $navbar-top-height;
  }
  .content {
    @extend .col-xs-10;
    @include vertical-align;
    height: $navbar-top-height;
  }

  ul { @include horizontal-list; }
}

.navbar-top {
  background: $navbar-top-bg;

  .logo {
    background: $brand-secondary;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    display: block;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-family: $headings-font-family;
    @include font-smooth;
  }

  .nav a {
    color: rgba(255,255,255,0.4);
    padding: 10px 15px;

    &:hover { color: #fff; }
  }

  .nav li:last-child a {
    background: $brand-primary;
    color: #fff;
  }
}

.navbar-primary {
  @include animate;
  background: $navbar-primary-bg;

  &.fixed {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;

    .logo { display: none; }
    .nav-icon { display: inline-block; }

    .side, .content { height: 50px; }
    .side { width: 5%; }
    .content { width: 95%; }
    .finder { display: none; }
  }

  .side, .content { height: $navbar-top-height * 2.5; }

  .logo {
    background: $brand-primary;
    text-align: center;
    display: block;
    height: 100%;
    img {
      margin-top: 8px;
      width: 85px;
    }
  }

  .nav-icon {
    display: none;
    color: #fff;
    font-size: 35px;
    background: $brand-primary;
    padding: 0 10px;
  }
  .nav-icon-secondary {
    background: $brand-secondary;
  }

  .nav {
    li {
      border-right: 1px solid $navbar-top-bg;

      &:last-child { border-right: none; }

      &:hover {
        background: $navbar-top-bg;
        border-right-color: transparent;
        a { color: #fff; }
      }

      a {
        font-size: 22px;
        font-family: $headings-font-family;
        font-weight: bold;
        text-transform: uppercase;
        color: rgba(255,255,255,0.4);
        line-height: 45px;
        padding: 0 25px;
        position: relative;
        @include font-smooth;
      }
    }
  }

  .finder {
    a {
      color: rgba(255,255,255,0.4);
      i { color: rgba(255,255,255,0.6); margin-right: 8px; }
    }
  }
}

