.navbar-primary {
  height: $navbar-height;
  position: relative;
  z-index: 1000;
  background: $navbar-bg;

  a {
    text-decoration: none;
  }

  .container {
    position: relative;
  }

  ul {
    list-style: none;
    @include clearfix;
    position: relative;
    z-index: 200;
    margin: 0;
    padding: 0;

    li {
      float: left;
      display: table;
      position: relative;
      border-right: 1px solid $navbar-border;

      &:last-child { border-right: none }

      &.active {
        a {
          color: rgba(255,255,255,1);
          background: rgba(0,0,0,0.1);
        }
      }

      a {
        color: rgba(255,255,255,0.7);
        font-weight: normal;
        font-family: $navbar-font-family;
        text-shadow: none;
        font-size: 16px;
        height: $navbar-height;
        display: table-cell;
        vertical-align: middle;
        padding: 0 20px;

        i:not(.fa-home) {
          margin-right: 7px;
          position: relative;
        }

        &:hover {
          background: rgba(0,0,0,0.1);
          color: #fff;
        }
      }
    }
  }
}

.navbar-menu {
  a {
    color: #fff;
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0 20px;
    float: left;
    font-weight: 300;
  }

  .logo {
    background: $brand-primary;
    &:hover { background: darken($brand-primary, 1%); }
    img { margin-top: -2px; }
  }

  .search-toggle {
    background: $brand-secondary;
    font-size: 18px;

    i {
      width: 18px;
      text-align: center;
    }

    &:hover { background: darken($brand-secondary, 1%); }

    &.active {
      background: #fff;
      color: rgba(0,0,0,0.4);

      i:before { content: "\f00d" }
    }
  }
}
