.panel {
  .title {
    position: relative;
    z-index: 0;
    padding: 0 20px 0 0;
    margin: 0 0 20px 0;

    &:after {
      content: no-close-quote;
      position: absolute;
      width: 100%;
      height: 15px;
      bottom: 8px;
      left: 0;
      background: image-url('title.png') repeat;
      z-index: 1;
    }

    h2 {
      position: relative;
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      background: #fff;
      padding: 0 15px 0 0;
      margin: 0;
      z-index: 2;
    }
  }

  .content {
    position: relative;
    margin: 0 0 40px 0;
    border: 1px solid #ECECEC;
    background: #fff;
    padding: 0;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.1);

    .title { margin: 20px; }
  }
}


