.box {
  background: white;
  border: 1px solid #ececec;
  position: relative;

  .box-header {
    background: $brand-primary;
    border-bottom: 1px solid #e4e4e4;
    position: relative;
  }

  .box-label {
    padding: 8px 5px 8px 15px;
    display: inline-block;
    font-family: $headings-font-family;
    @include font-smooth;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;

    em {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      margin-left: 10px;
      top: -1px;
      position: relative;
      color: #999999;
    }
  }
}

.sort-toggle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 12px;
  color: rgba(255,255,255,0.5);
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  @include font-smooth;

  &:hover {
    background: darken($brand-primary, 4%);
    color: rgba(255,255,255,0.8);
  }
  i {
    top: -2px;
    position: relative;
    font-size: 14px;
    margin-left: 6px;
  }
}
