$server-padding: 8px;
$server-border: 1px solid rgba(0,0,0,0.1);
$server-font-size: 14px;
$server-font-size-sm: 12px;
$server-bottom-padding: $server-padding - 3;
$ip-padding: 8px;
$ip-color: rgba(0,0,0,0.8);

.servers {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
    border-bottom: $server-border;
    &:last-child { border-bottom: none; }
    &:hover { background: #fafafa; }
  }

  .server {
    position: relative;
    @include clearfix;

    &.loading {
      .progress { display: block; }
    }
  }

  .progress {
    content: '';
    display: block;
    background: rgba(92, 184, 92, 0.19);
    position: absolute;
    width: 0%;
    z-index: 0;
    bottom: 0;
    height: 3px;
  }

  .server-group {
    position: absolute;
    font-size: 13px;
    bottom: 32px;
    right: $server-padding;
    font-size: $server-font-size;
    @include opacity(0.3);
    font-weight: bold;
  }

  .pinged {
    color: $brand-success;
    cursor: pointer;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-right: 1px;
    @include box-sizing(border-box);
    @include transition(0.1s ease-in-out);

    &:after {
      content: "\f111";
      font-size: 15px;
      @include transition(0.1s linear);
      @include box-sizing(border-box);
      @include opacity(0.5);
    }

    &:hover:after {
      @include opacity(1);
    }

    &.loading {
      background: image-url('progress-animated.svg') no-repeat 1px 0;
      background-size: 13px;
      color: transparent;
    }

    &.false { color: $brand-danger; }
  }

  .server-info {
    float: right;
    font-size: $server-font-size-sm;

    .players {
      margin: 0 8px;
      font-weight: bold;
      em { font-style: normal }
    }
  }

  .actions {
    font-size: 12px;
    @include clearfix;
    margin-top: 4px;

    a {
      @include opacity(0.3);
      color: #444;
      display: block;
      float: left;
      margin-right: 10px;
      @include animate;

      &:hover {
        text-decoration: none;
        @include opacity(0.6);
      }

      i { margin-right: 3px; }
    }
  }

  .voting {
    float: left;
    width: 45px;
    text-align: center;
    margin: 10px 0;
  }

  .meta {
    margin: 8px 0;
    float: left;

    .name {
      font-weight: bold;
      display: block;
      font-size: $server-font-size + 1;
      width: 302px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #444;
      position: relative;

      &:after {
        @include transition(all 0.3s linear);
      }

      &:hover {
        text-decoration: none;

        &:after {
          display: block;
          position: absolute;
          right: 0;
          margin-left: -10px;
          top: 4px;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          @include box-sizing(border-box);
          @include transition(0.1s ease-in-out);
          content: "\f054";
          padding-left: 4px;
          background: #fff;
        }
      }
    }

    .ip {
      font-size: 13px;
      overflow: hidden;
      position: relative;

      &:hover {
        text-decoration: none;
        color: $brand-primary;

        i {
          bottom: 0;
          @include opacity(1);
        }
      }

      i {
        position: relative;
        bottom: -20px;
        margin-left: 8px;
        @include opacity(0);
        @include animate;
      }
    }
  }
}
