* {
  outline: 0;
  zoom: 1;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  zoom: 1;
  background: #f2f2f2;
}

a {
  text-decoration: underline;
  @include transition(0.1s all linear);
}
