@import url(https://fonts.googleapis.com/css?family=Roboto:200,300,400,700|Rajdhani:300,400,700);

$font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif !default;
$headings-font-family:    'Rajdhani', 'Roboto', Helvetica, Arial, sans-serif !default;
$font-size-base:          16px !default;

$body-bg:                 #ededed;
$footer-bg:               #444;

$brand-primary:           #0074DE;
$brand-secondary:         #0069c8;

$navbar-height:           90px;
$navbar-font-family:      'Roboto', Helvetica;
$navbar-border:           rgba(255,255,255,0.1);
$navbar-bg:               #36474F; //#1f2123 #1F262E

$container-tablet:        100% !default;

$screen-xs:               480px !default;
$screen-xs-min:           $screen-xs !default;
$screen-phone:            $screen-xs-min !default;

$screen-sm:               768px !default;
$screen-sm-min:           $screen-sm !default;
$screen-tablet:           $screen-sm-min !default;

$screen-md:               992px !default;
$screen-md-min:           $screen-md !default;
$screen-desktop:          $screen-md-min !default;

$screen-lg:               1200px !default;
$screen-lg-min:           $screen-lg !default;
$screen-lg-desktop:       $screen-lg-min !default;

$screen-xlg:              1441px !default;
$screen-xlg-min:          $screen-lg !default;
$screen-xlg-desktop:      $screen-lg-min !default;

$screen-xs-max:           ($screen-sm-min - 1) !default;
$screen-sm-max:           ($screen-md-min - 1) !default;
$screen-md-max:           ($screen-lg-min - 1) !default;
